<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="10500" id="de.lsubel.amam" version="1.5.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Ask me anything meaningful</name>
    <description>
      In the 19th century answering these type of questions as part of a questionnaire were popular as society plays for the educated society. They should encourage conversation, help to learn about the interviewee and hear about their character.
    </description>
    <author email="github@lsubel.de" href="https://github.com/lsubel/amam">
        Lukas Subel
    </author>
    <content src="index.html" />
    <allow-intent href="https://github.com/*" />
    <preference name="phonegap-version" value="cli-5.2.0" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="false" />
    <preference name="permissions" value="none" />
    <preference name="splash-screen-duration" value="0" />
    <preference name="androidlaunchmode" value="singleTop" />
    <preference name="keeprunning" value="false" />
    <preference name="loadurltimeoutvalue" value="5000" />
    <preference name="disallowoverscroll" value="true" />
    <preference name="android-minSdkVersion" value="19" />
    <preference name="android-targetSdkVersion" value="19" />
    <icon height="180" src="www/icon.png" width="180" />
    <platform name="android">
        <icon density="ldpi" src="www/res/logo-36x36.png" />
        <icon density="mdpi" src="www/res/logo-48x48.png" />
        <icon density="hdpi" src="www/res/logo-72x72.png" />
        <icon density="xhdpi" src="www/res/logo-96x96.png" />
    </platform>
    <engine name="android" spec="~7.0.0" />
</widget>
